<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dcits.scott.userprovider.mapper.AuthUserMapper" >
  <resultMap id="BaseResultMap" type="com.dcits.scott.admin.pojo.AuthUser" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="CDT" property="cdt" jdbcType="TIMESTAMP" />
    <result column="UDT" property="udt" jdbcType="TIMESTAMP" />
    <result column="AVATAR" property="avatar" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="where">
    <where>
      <if test="id != null and id != ''">id = #{id}</if>
      <if test="name != null and name != ''">and name like concat('%', #{name}, '%')</if>
      <if test="password != null and password != ''">and password = #{password}</if>
      <if test="phone != null and phone != ''">and phone = #{phone}</if>

      <if test="cdt != null and cdt != ''">
        <![CDATA[
                  and cdt between date_format(#{cdt}, '%Y-%m-%d 00:00:00') and date_format(#{cdt}, '%Y-%m-%d 23:59:59')
                ]]>
      </if>
      <if test="udt != null and udt != ''">
        <![CDATA[
                  and udt between date_format(#{udt}, '%Y-%m-%d 00:00:00') and date_format(#{udt}, '%Y-%m-%d 23:59:59')
                ]]>
      </if>
    </where>
  </sql>
  <!-- 对应的插入字段的名字-->
  <sql id="key">
    <trim suffixOverrides=",">
      <if test="name!=null and name!=''">
        NAME,
      </if>
      <if test="password!=null and password!=''">
        PASSWORD,
      </if>
        CDT,
        UDT,
      <if test="avatar!=null and avatar!=''">
        AVATAR,
      </if>
      <if test="address!=null and address!=''">
        ADDRESS,
      </if>
      <if test="phone!=null and phone!=''">
        PHONE,
      </if>
    </trim>
  </sql>
  <!-- 对应的插入字段的值 -->
  <sql id="values">
    <trim suffixOverrides=",">
      <if test="name!=null and name!=''">
        #{name},
      </if>
      <if test="password!=null and password!=''">
        #{password},
      </if>
        now(),
        now(),
      <if test="avatar!=null and avatar!=''">
        #{avatar},
      </if>
      <if test="address!=null and address!=''">
        #{address},
      </if>
      <if test="phone!=null and phone!=''">
        #{phone},
      </if>
    </trim>
  </sql>


<select id="selectPage" parameterType="Map" resultMap="BaseResultMap">
  SELECT * FROM auth_user

  <include refid="where"/>

  ORDER BY id DESC

  <if test="size != null or skip != null">
    LIMIT #{skip}, #{size}
  </if>
</select>

<select id="selectCount"  resultType="java.lang.Integer" parameterType="Map">
    SELECT count(*) FROM auth_user
</select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from auth_user
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" parameterType="com.dcits.scott.admin.pojo.AuthUser" keyProperty="id">
    insert into auth_user
     (<include refid="key"/>)
    values (<include refid="values"/>)
  </insert>
  <update id="update" parameterType="com.dcits.scott.admin.pojo.AuthUser" >
    update auth_user
    <set>
      <if test="name != null and name !=''">
        name = #{name},
      </if>
      <if test="password !=null and password != ''">
        password = #{password},
      </if>
      <if test="avatar != null and avatar != ''">
        avatar = #{avatar},
      </if>
      <if test="phone != null and phone != ''">
        phone = #{phone},
      </if>
      <if test="address != null and address != ''">
        address = #{address},
      </if>
      <if test="udt != null and udt != ''">
        udt = now(),
      </if>
      <if test="cdt != null and cdt != ''">
        cdt = now(),
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select ID, NAME, PASSWORD, CDT, UDT, AVATAR, ADDRESS, PHONE
    from auth_user
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select ID, NAME, PASSWORD, CDT, UDT, AVATAR, ADDRESS, PHONE
    from auth_user
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, NAME, PASSWORD, CDT, UDT, AVATAR, ADDRESS, PHONE
    from auth_user
  </select>
  <select id="selectPasswordByName"  resultType="com.dcits.scott.admin.pojo.AuthUser" parameterType="com.dcits.scott.admin.pojo.AuthUser">
    select ID, NAME, PASSWORD, CDT, UDT, AVATAR, ADDRESS, PHONE
    from auth_user
    <where>
      NAME =#{name}
    </where>
  </select>
  <select id="selectByList"  resultType="com.dcits.scott.admin.pojo.AuthUser" parameterType="Map">
    select ID, NAME, PASSWORD, CDT, UDT, AVATAR, ADDRESS, PHONE
    from auth_user
    where id in 
    <foreach collection="userIds" item="id" close=")" open="(" separator=",">
      #{id}
    </foreach>
    <if test="size != null or skip != null">
      LIMIT #{skip}, #{size}
    </if>
  </select>

  <delete id="delete" parameterType="Map">
    DELETE FROM auth_user
    <where>
      <if test="userIds != null">
        id in
        <foreach collection="userIds" item="item" index="index" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>
  </delete>
</mapper>