/*自定义蓝色主题-皮肤*/

/*
 * 1、顶部navbar颜色
 */
.science-blue .header{
  background-image: url('../../../static/img/science-blue-header.jpg') !important;

}

/*
 * 2、侧边栏
 */
.science-blue .sidebar-el-menu {

  background-image: url('../../../static/img/th.jpg') !important;

}
/*
 * 3、内容背景
 */
.science-blue .content {

  /*background-image: url('../../../static/img/timg.gif') !important;*/
  /*background-position: center center;*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  /*width: 100%;*/
  /*height: 1000px;*/
}
/*.science-blue .sidebar-el-menu .el-menu-item {*/

  /*background-color: #5f9fc9!important;*/
 /*}*/
/*.science-blue .left-sidebar .el-menu {*/
  /*background-color: #5f9fc9;*/
/*}*/
.science-blue .left-sidebar .el-menu-item i {
  color: #fff;
}
.science-blue .left-sidebar .el-menu-item:hover,
.science-blue .left-sidebar .el-menu-item:focus,
.science-blue .left-sidebar .el-submenu__title:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.science-blue .left-sidebar .el-submenu__title {
  color: #fff;
}
.science-blue .left-sidebar .el-submenu__title i {
  color: #fff;
}
.science-blue .left-sidebar .el-menu-item {
  color: #fff;
}
.science-blue .left-sidebar .el-menu-item.is-active {
  color: #eeff41;
}
.science-blue .left-sidebar .el-menu-item.is-active i{
  color: #eeff41;
}

/**
 * 3、tabs-view
 */
.science-blue .tabs-view-container .tags-view-item.active .el-tag {
  background-color: #2a68c9;
}
